*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: rgba(7, 9, 20, 0.946);
    align-content: center;
   margin: 20px 30px;
    justify-content: center;

}

.menu{
  animation: menu 2s;
}
ul.menu{
      float: right;
      clear: both;
      margin-right: 10%;
  }
  @keyframes menu {
    0% {
      margin-right: 40%;
    }
    100% { 
      margin-right: 10%;
    }
}
  
  li {
    display: inline-block;
    color: rgb(0, 225, 255);
    margin: 15px;
    cursor: pointer;
    font-family: sans-serif;
    filter: brightness(1.5);
    font-size: 17px;
    
  }

  .tieude {
    order: 1; /* đặt thứ tự hiển thị là 1 */
    display: flex; /* sử dụng flexbox */
    align-items: center; /* căn giữa theo trục y */
    margin-right: auto; /* căn phải */
    margin-left: 10%;
  }


 
  li.tieude1 {
    display: inline-block;
    color: rgb(255, 255, 255);
    font-family: sans-serif;
    filter: brightness(1.5);
    font-size: 30px;
    font-style: italic;
    letter-spacing: 3px;
    margin-top: 30px;
    animation: tieude 2s;
  }

  @keyframes tieude {
    0% {
      margin-left: 100%;
    }
    100% { 
    
      margin-left: 10%;
    }
}


  .content{
    position: relative;
    margin-top:5%;
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    animation: hieuung 2s;
   
  }

  @keyframes hieuung {
    0% {
      margin-left: -100%;
    }
    100% { 
        margin-left: 10%;
    }
}

  span{
    margin: 2px;
    font-family: sans-serif;
  }

  span:nth-child(1){
    color: rgba(255, 0, 0, 0.8);
    font-size: 30px;
    margin-top: 50px;
    text-shadow: 3px 4px 4px #010102fb;
  }
 
  span:nth-child(2){
    color: rgb(255, 255, 255);
    font-size: 50px;
    margin-top: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    letter-spacing: 5px;
    text-shadow: 3px 3px 4px rgba(0, 221, 255,9);
    animation: hello 2s;
    
  }
  @keyframes hello {
    0% {
      margin-top: -100%;
    }
    100% { 
        margin-top: 5%;
    }
}

  span:nth-child(3){
    margin-top:1%;
    color: rgb(255, 255, 255, 0.7);
    font-size: 25px;
    margin-top: 30px;
   
  }
  span:nth-child(4){
    margin-top:2%;
    color: rgb(255, 255, 255,0.4);
    font-size: 15px;
   
  }

 .container{
  color:white;
  font-size: 30px;
  margin-top:30px;
  position:relative;
  display:flex;
  letter-spacing: 2px;
  text-shadow: 3px 3px 4px rgba(0, 221, 255, 0.4);
 }
 
 .container1{
  color:rgb(2, 247, 255);
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-align: center;
  letter-spacing: 4px; 
  margin-left: 10px;
  margin-top: -10px;
  font-size: 35px;
  text-shadow: 0 0 10px #03bcf4,
  0 0 2000px #00d0ff,
  0 0 40px #03bcf4,
  0 0 80px #03bcf4,
  0 0 160px #03bcf4,
  0 0 400px #03bcf4
 }

.textchay1{
  font-size: 20px;
  letter-spacing: 2px;
  max-width: 600px;
 
 
}



.listanh{
  margin-top: 20px;
  display:flex;
  animation: hieuung1 2s;
}
@keyframes hieuung1 {
  0% {
       margin-top: 100%;
  }
  100% { 
      margin-top: 20px;
  }
}

.listanh button{
  background-color: #00c8ff00;
  border: none;
}
.listanh img{
  border-radius: 50%;
  box-shadow: 0 0 5px rgb(0, 225, 255),
              0 0 7px rgb(0, 225, 255);
  background-color: #040c0e00;
  margin: 20px;
  cursor:pointer;
  transition: 0.75s;
}
.listanh img:hover{
  border-radius: 50%;
  box-shadow: 0 0 10px rgb(0, 225, 255),
              0 0 11px rgb(0, 225, 255);
  background-color: rgba(0, 225, 255, 0.905);
  margin: 8px;
  cursor:pointer;

}

.image{
  max-width: 500px;
  position:relative;
  display:flex;
  align-items: center;
  justify-content: center;
  margin-top: -30%;
  right: -65%;
  border-radius: 50% ;
  box-shadow: inset 0 0 10px rgb(0, 225, 255),
                    0 0 11px rgb(0, 225, 255);
                  
  background-size: 400%;
  background-color: #040c0e00;
  filter:brightness(1.2);
  transition: 0.75s;
  animation: anhmeo2  5s infinite ease-in-out, boxshadow 5s ease-in-out infinite, border  1.5s;
  animation-delay: 2s, 2s, 0s;            
}
@keyframes border{
  0%{
    border-radius: 1%;
  }
  100%{
    border-radius: 50%;
  }
}
@keyframes boxshadow {
  0% {
    box-shadow: inset 0 0  10px  #ff0040,
    0 0  15px  #ff0040;
  }
  12.5% {
    box-shadow: inset 0 0  10px #ff00ea,
    0 0  15px #ff00ea;
  }
  25% {
  
    box-shadow: inset 0 0  10px #ffdd00,
    0 0  15px #ffe600;
  }
  37.5% {
    box-shadow: inset 0 0  10px #00bfff,
                     0 0  15px #00befd;
  }
  50% {
    box-shadow: inset 0 0 10px #00ffbf,
                    0 0 14px #00f8ba;
  }
  62.5% {
    box-shadow: inset 0 0 10px #ffdd00,
    0 0 15px #fdd700;
  }
  75% {
    box-shadow: inset 0 0  10px #c850c0,
    0 0  15px #fc00eb;
  }
  87.5% {
    box-shadow: inset 0 0  10px #002aff,
    0 0  15px #002aff;
  }
  100% {
    box-shadow: inset 0 0  10px #ff0040,
    0 0  15px #ff0040;
   
  }

}
.image::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      filter:blur(5px);
      height: 100%;
      background-image: linear-gradient(200deg,
    #fc6c8f, #ff2ced, #ffb86c, #2cccff, #20e3b2, #ffcc70, #c850c0, #4158d0);
    
      clip-path: circle(40%);
      background-size: 300%;
      z-index: -1;
      animation: spin 5s linear infinite;
}

@keyframes anhmeo{
  0%{
    transform: scale(0.9);
  }
  25%{
    transform: scale(1);
  }
  50%{
    transform: scale(0.9);
  }
  75%{
    transform: scale(1);
  }
  100%{
    transform: scale(0.9);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes anhmeo2{
  0%{
    transform: translateY(0%)translateX(5%);
  }
  25%{
    transform: translateY(-5%)translateX(0%);
  }
  50%{
    transform: translateY(0%)translateX(5%);
  }
  75%{
    transform: translateY(5%)translateX(0%);
  }
  100%{
    transform: translateY(0%)translateX(0%);
  }
}